USE [OnthiDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/23/2019 12:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTLopHPs]    Script Date: 12/23/2019 12:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTLopHPs](
	[mact] [int] IDENTITY(1,1) NOT NULL,
	[malhp] [nvarchar](128) NULL,
	[masv] [nvarchar](max) NULL,
	[mamh] [nvarchar](max) NULL,
	[hodem] [nvarchar](max) NULL,
	[ten] [nvarchar](max) NULL,
	[ngaysinh] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
	[quequan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CTLopHPs] PRIMARY KEY CLUSTERED 
(
	[mact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHPs]    Script Date: 12/23/2019 12:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHPs](
	[malhp] [nvarchar](128) NOT NULL,
	[tenlhp] [nvarchar](max) NULL,
	[gv] [nvarchar](max) NULL,
	[dmsv] [int] NOT NULL,
	[mamh] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.LopHPs] PRIMARY KEY CLUSTERED 
(
	[malhp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHocs]    Script Date: 12/23/2019 12:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHocs](
	[mamh] [nvarchar](128) NOT NULL,
	[tenmh] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MonHocs] PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CTLopHPs] ON 

INSERT [dbo].[CTLopHPs] ([mact], [malhp], [masv], [mamh], [hodem], [ten], [ngaysinh], [quequan]) VALUES (13, N'l4', N'sv01', N'm2', N'Lê ', N'A', CAST(N'1998-07-16 00:00:00.000' AS DateTime), N'Huế')
INSERT [dbo].[CTLopHPs] ([mact], [malhp], [masv], [mamh], [hodem], [ten], [ngaysinh], [quequan]) VALUES (14, N'l1', N'sv01', N'm1', N'Lê ', N'A', CAST(N'1998-07-16 00:00:00.000' AS DateTime), N'Huế')
INSERT [dbo].[CTLopHPs] ([mact], [malhp], [masv], [mamh], [hodem], [ten], [ngaysinh], [quequan]) VALUES (16, N'l1', N'sv03', N'm1', N'Lô', N'Ba', CAST(N'1998-07-16 00:00:00.000' AS DateTime), N'Alo')
SET IDENTITY_INSERT [dbo].[CTLopHPs] OFF
INSERT [dbo].[LopHPs] ([malhp], [tenlhp], [gv], [dmsv], [mamh]) VALUES (N'l1', N'Hóa 1', N'Ngô Tỉnh', 40, N'm1')
INSERT [dbo].[LopHPs] ([malhp], [tenlhp], [gv], [dmsv], [mamh]) VALUES (N'l2', N'Toán 2', N'Ngô Hồ', 34, N'm2')
INSERT [dbo].[LopHPs] ([malhp], [tenlhp], [gv], [dmsv], [mamh]) VALUES (N'l3', N'Hóa 2', N'Ồ hố', 3, N'm1')
INSERT [dbo].[MonHocs] ([mamh], [tenmh]) VALUES (N'm1', N'Hóa')
INSERT [dbo].[MonHocs] ([mamh], [tenmh]) VALUES (N'm2', N'Toán')
ALTER TABLE [dbo].[CTLopHPs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CTLopHPs_dbo.LopHPs_malhp] FOREIGN KEY([malhp])
REFERENCES [dbo].[LopHPs] ([malhp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTLopHPs] CHECK CONSTRAINT [FK_dbo.CTLopHPs_dbo.LopHPs_malhp]
GO
ALTER TABLE [dbo].[LopHPs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LopHPs_dbo.MonHocs_mamh] FOREIGN KEY([mamh])
REFERENCES [dbo].[MonHocs] ([mamh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LopHPs] CHECK CONSTRAINT [FK_dbo.LopHPs_dbo.MonHocs_mamh]
GO
